.btn-icon{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .3s;
    font-size: 20px;
}

.btn-icon:hover{
    background-color: rgba(0, 0, 0, 0.762);
}