body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  background-color: #333;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  gap: 10px;
}

nav a{
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  padding: 5px 10px;
}

nav a:hover{
  opacity: 1;
}

nav a.active{
  opacity: 1;
  color: orangered
}

.theme-dark{
  background-color: #333;
  color: #fff;
}

.theme-dark header{
  background-color: #222;
}


.user-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.user-list img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}